@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@layer base {
  body {
    font-family: 'Roboto', sans-serif-;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // height: 100vh;
    // background-image: url(/Shade.png);
  }
}


.bg-home {
  background-image: url(/Shade.png);
  height: 100%;
  background: repeat-x;
}


.bg-gradient-to-br {
  background: #0053A5;
  border-radius: 6px;
  /* padding: 6px 18px 6px;*/
}


.home-font {
  font-style: normal;
  font-weight: 700;
  color: #3A3A3A
}

.zn-light-primary {
  color: #0053A5
}

.home-fs-20 {
  font-size: 20px;
  line-height: 34px;
}

.home-image {
  margin: 12px;
}

.bottom-btn-left {
  border-radius: 50%;
  box-shadow: 0 0 0 1px #0053A5, 0 0 0 2px #0295FF;
}

.bottom-btn-right {
  border-radius: 50%;
  background: linear-gradient(129.81deg, #0295FF 15.06%, #0053A5 85.13%);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0053A5;
  transform-origin: bottom left;
  transition: transform 0.50s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger {
  position: fixed;
  z-index: 10012;
  top: 0;
  left: 0;
}

.bg-hamburger {
  background-image: url(/intersect.png);
  background-repeat: round;
  position: absolute;
  max-width: 100%;
  max-height: 610px;
}


.hamburger-btn {
  background: #fff;
  border-radius: 6px;
  width: 230px;
  height: 36px;
}

.get-free-demo-btn {
  border: 1px solid #0053A5;
  border-radius: 6px;
  background: #fff;
}

.solid-divider {
  border-top: 6px solid #0053A5;
  width: 263px
}

.explore-btn {
  border-radius: 50%;
  background: rgba(0, 83, 165, 0.08);
}

.explore-btn .svg-wrapper svg {
  transition: fill 0.3s ease;
}

.explore-btn:hover .svg-wrapper svg {
  fill: #fff;
}

.panel-header {
  font-weight: 600;
  color: #3C3C3C
}

.panel-header-open {
  font-weight: 600;
  color: #0053A5
}


.ant-collapse-item-active .ant-collapse-header .panel-header {
  font-weight: 600;
  color: #0053A5
}

.get-in-touch-bg {
  background: #F8F8FF;
  height: 626px;
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .get-in-touch-bg {
    background: #F8F8FF;
    height: 626px;
    width: 1024px;
  }
}

@media screen and (max-width: 1199px) {
  .get-in-touch-bg {
    background: #F8F8FF;
    height: 546px;
    width: 768px;
  }
}

@media screen and (max-width: 992px) {
  .get-in-touch-bg {
    background: #F8F8FF;
    height: 546px;
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .get-in-touch-bg {
    background: #F8F8FF;
    height: 546px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .get-in-touch-bg {
    background: #F8F8FF;
    height: 867px;
    width: 100%;
  }
}

.card {
  width: 570px;
  height: 718px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  right: 6px
}

@media screen and (max-width: 1439px) {
  .card {
    width: 500px;
    height: 718px;
    position: relative;
    right: 6px
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 458px;
    height: 660px;
    position: relative;
    right: 60px;
    bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 409px;
    height: 660px;
    position: relative;
    right: 60px;
    bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 409px;
    height: 660px;
    position: relative;
    right: 60px;
    bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 330px;
    height: 542px;
    position: relative;
    left: 8px;
  }
}

.ant-form-item .ant-form-item-label>label {
  height: auto;
  weight: 500;
  color: #3C3C3C;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 18px;
}

@media (max-width: 1439px) {
  .ant-form-item .ant-form-item-label>label {
    height: auto;
    weight: 500;
    color: #3C3C3C;
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 1200px) {
  .ant-form-item .ant-form-item-label>label {
    height: auto;
    weight: 500;
    color: #3C3C3C;
    font-family: 'Raleway';
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .ant-form-item .ant-form-item-label>label {
    height: auto;
    weight: 500;
    color: #3C3C3C;
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 768px) {
  .ant-form-item .ant-form-item-label>label {
    height: auto;
    weight: 500;
    color: #3C3C3C;
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 14px;
  }
}

@media (max-width: 767px) {
  .ant-form-item .ant-form-item-label>label {
    height: auto;
    weight: 500;
    color: #3C3C3C;
    font-family: 'Raleway';
    font-size: 12px;
    line-height: 14px;
  }
}

.ant-input:placeholder-shown {
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

@media (max-width:1439px) {
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Roboto';
    font-weight: 400;
  }
}

@media (max-width:1200px) {
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Roboto';
    font-weight: 400;
  }
}

@media (max-width:992px) {
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Roboto';
    font-weight: 400;
  }
}

@media (max-width:768px) {
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 10px;
    font-family: 'Roboto';
    font-weight: 400;
  }
}

@media (max-width:767px) {
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 10px;
    font-family: 'Roboto';
    font-weight: 400;
  }
}

.ant-input-lg {
  padding: 7px 11px;
  border-radius: 8px;
  height: 46px;
  width: 450px;
}

@media (max-width:1439px) {
  .ant-input-lg {
    padding: 7px 11px;
    border-radius: 8px;
    height: 46px;
    width: 385px;
  }
}

@media (max-width:1200px) {
  .ant-input-lg {
    padding: 7px 11px;
    border-radius: 8px;
    height: 46px;
    width: 337px;
  }
}

@media (max-width:992px) {
  .ant-input-lg {
    padding: 7px 11px;
    border-radius: 8px;
    height: 40px;
    width: 337px;
  }
}

@media (max-width:768px) {
  .ant-input-lg {
    padding: 7px 11px;
    border-radius: 8px;
    height: 40px;
    width: 337px;
  }
}

@media (max-width:767px) {
  .ant-input-lg {
    padding: 7px 11px;
    border-radius: 6px;
    height: 36px;
    width: 300px;
  }
}

.text-area.ant-form-item .ant-form-item-control-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
}

@media (max-width:1439px) {
  .text-area.ant-form-item .ant-form-item-control-input {
    width: 385px;
  }
}

@media (max-width:1200px) {
  .text-area.ant-form-item .ant-form-item-control-input {
    width: 337px;
  }
}

@media (max-width:992px) {
  .text-area.ant-form-item .ant-form-item-control-input {
    width: 337px;
  }
}

@media (max-width:768px) {
  .text-area.ant-form-item .ant-form-item-control-input {
    width: 337px;
  }
}

@media (max-width:767px) {
  .text-area.ant-form-item .ant-form-item-control-input {
    width: 300px;
  }
}

.submit-btn {
  background: #0053A5;
  border-radius: 8px;
}

.font-family-Raleway {
  font-family: 'Raleway', sans-serif;
}

.bottom-card {
  background-image: url(/blue-shade.png);
  width: 1320px;
  height: 316px;
  background-repeat: no-repeat;
}

@media (max-width: 1439px) {
  .bottom-card {
    background-image: url(/blue-shade-xl.png);
    width: 1024px;
    height: 316px;
  }
}

@media (max-width: 1200px) {
  .bottom-card {
    background-image: url(/blue-shade-lg.png);
    width: 768px;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .bottom-card {
    background-image: url(/blue-shade-md.png);
    width: 768px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .bottom-card {
    background-image: url(/blue-shade-md.png);
    width: 720px;
    height: 200px;
    ;
  }
}

@media (max-width: 767px) {
  .bottom-card {
    background-image: url(/blue-shade-sm.png);
    width: 330px;
    height: 130px;
  }
}

.get-free-demo-card-btn {
  border: 1px;
  border-radius: 8px;
  background: #fff;
  transition: color 0.2s ease;
}

.footer-divider {
  border-top: 1px solid #EFF0F6;
  width: 100%
}

@media (max-width:1440px) {
  .footer-divider {
    border-top: 1px solid #EFF0F6;
    width: 0%
  }
}

@media (max-width:1200px) {
  .footer-divider {
    border-top: 1px solid #EFF0F6;
    width: 0%
  }
}

@media (max-width:992px) {
  .footer-divider {
    border-top: 1px solid #EFF0F6;
    width: 0%
  }
}

@media (max-width:768px) {
  .footer-divider {
    border-top: 1px solid #EFF0F6;
    width: 0%
  }
}


.footer-seperator-divider {
  border-top: 1px solid #DDDDF8;
  width: 1400px
}

@media (max-width:1439px) {
  .footer-seperator-divider {
    border-top: 1px solid #DDDDF8;
    width: 1200px
  }
}

@media (max-width:1200px) {
  .footer-seperator-divider {
    border-top: 1px solid #DDDDF8;
    width: 930px
  }
}

@media (max-width:991px) {
  .footer-seperator-divider {
    border-top: 1px solid #DDDDF8;
    width: 700px
  }
}

@media (max-width:768px) {
  .footer-seperator-divider {
    border-top: 1px solid #DDDDF8;
    width: 700px
  }
}

@media (max-width:767px) {
  .footer-seperator-divider {
    border-top: 1px solid #DDDDF8;
    width: 700px
  }
}
.inner-text {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.inner-text span {
  position: relative;
  animation: animation 7s ease infinite
}

@keyframes animation {
  0% {
    top: 0
  }

  20% {
    top: 0
  }

  25% {
    top: -50px
  }

  45% {
    top: -50px
  }

  50% {
    top: -100px
  }

  70% {
    top: -100px
  }

  75% {
    top: -150px
  }

  95% {
    top: -150px
  }

  100% {
    top: 0
  }
}

//.......button animation banner-1........
.btn-container {
  &:nth-child(1) {
    --btn-bg: linear-gradient(129.81deg, #0295FF 15.06%, #0053A5 85.13%);
  }
}

.button-discover {
  border: 0;
  position: relative;
  border-radius: 33px;
  background: rgba(0, 83, 165, 0.08);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .text,
  .icon-container {
    position: relative;
    z-index: 2;
  }

  .icon-container {
    --icon-size: 20px;
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 18px;
    transition: transform 500ms ease;

    .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: var(--icon-size);
      height: var(--icon-size);
      transition: transform 500ms ease, opacity 250ms ease;

      &--left {
        transform: translateX(-200%);
        opacity: 0;
      }
    }
  }


  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    border-radius: 33px;
    z-index: 1;
    transition: transform 500ms ease;
  }

  &:hover {
    &::after {
      transform: translateX(68%);
    }

    .icon-container {
      transform: translateX(125%);

      .icon {
        &--left {
          position: relative;
          left: -15px;
          transform: translateX(0);
          opacity: 1;
        }

        &--right {
          transform: translateX(500%);
          opacity: 0;
        }
      }
    }
  }
}

//.......button animation end banner-1........

.ant-switch .ant-switch-handle::before {
  background-color: #25324B;
  height: 38px;
  width: 38px;
  top: 2px;
  border-radius: 100px;
}

@media(max-width:767px) {
  .ant-switch .ant-switch-handle::before {
    background-color: #25324B;
    height: 26px;
    width: 26px;
    top: 0px;
    border-radius: 100px;
  }
}

.ant-switch {
  width: 96px;
  height: 46px;
}

@media (max-width:767px) {
  .ant-switch {
    width: 56px;
    height: 28px;
  }
}

.ant-switch.ant-switch-checked .ant-switch-handle {
  inset-inline-start: calc(100% - 38px);
}

@media (max-width:767px) {
  .ant-switch.ant-switch-checked .ant-switch-handle {
    inset-inline-start: calc(100% - 24px);
  }
}

.price-card-basic {
  width: 287px;
  height: 548px;
  background: linear-gradient(179.97deg, #F1FCFF 0.02%, rgba(241, 252, 255, 0.19) 99.98%);
  border-radius: 6px;
  border: 1px solid #D6F5FD;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 6px
}

@media (max-width:1439px) {
  .price-card-basic {
    width: 233px;
    height: 516px;
  }
}

@media (max-width:1199px) {
  .price-card-basic {
    width: 175px;
    height: 387px;
  }
}

@media (max-width:991px) {
  .price-card-basic {
    width: 164px;
    height: 363px;
  }
}

.price-card-standard {
  width: 296px;
  height: 548px;
  background: linear-gradient(180deg, #FFFBF1 0%, rgba(255, 251, 241, 0.2) 100%);
  border-radius: 6px;
  border: 1px solid #FFF0C8;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 6px
}

@media (max-width:1439px) {
  .price-card-standard {
    width: 233px;
    height: 516px;
  }
}

@media (max-width:1199px) {
  .price-card-standard {
    width: 175px;
    height: 387px;
  }
}

@media (max-width:991px) {
  .price-card-standard {
    width: 164px;
    height: 363px;
  }
}

.price-card-pro {
  width: 296px;
  height: 548px;
  background: linear-gradient(180deg, #F2F9FF 0%, rgba(255, 251, 241, 0.2) 100%);
  border-radius: 6px;
  border: 1px solid #0053A4;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 6px
}

@media (max-width:1439px) {
  .price-card-pro {
    width: 233px;
    height: 516px;
  }
}

@media (max-width:1199px) {
  .price-card-pro {
    width: 175px;
    height: 387px;
  }
}

@media (max-width:991px) {
  .price-card-pro {
    width: 164px;
    height: 363px;
  }
}

.price-card-pre {
  width: 296px;
  height: 548px;
  background: linear-gradient(180deg, #FBF5FF 0%, rgba(251, 245, 255, 0.2) 100%);
  border-radius: 6px;
  border: 1px solid #E9D3F4;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 6px
}

@media (max-width:1439px) {
  .price-card-pre {
    width: 233px;
    height: 516px;
  }
}

@media (max-width:1199px) {
  .price-card-pre {
    width: 175px;
    height: 387px;
  }
}

@media (max-width:991px) {
  .price-card-pre {
    width: 164px;
    height: 363px;
  }
}

.card-divider {
  border-top: 2px solid #F0F0FF;
  width: 258px
}

@media (max-width:1439px) {
  .card-divider {
    border-top: 2px solid #F0F0FF;
    width: 201px
  }
}

@media (max-width:1199px) {
  .card-divider {
    border-top: 2px solid #F0F0FF;
    width: 151px
  }
}

@media (max-width:1199px) {
  .card-divider {
    border-top: 2px solid #F0F0FF;
    width: 151px
  }
}

@media (max-width:991px) {
  .card-divider {
    border-top: 2px solid #F0F0FF;
    width: 141px
  }
}

@media (max-width:768px) {
  .card-divider {
    border-top: 2px solid #F0F0FF;
    width: 141px
  }
}

.mobile-card-divider {
  border-top: 2px solid #F0F0FF;
  width: 141px
}

.card-btn {
  border: 1px solid #0053A5;
  border-radius: 6px;
}

.card-bg-gradient {
  background: linear-gradient(179.97deg, #F1FCFF 0.02%, rgba(241, 252, 255, 0.19) 99.98%);
}

.header-border.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 6px;
  background: linear-gradient(179.97deg, #F1FCFF 0.02%, rgba(241, 252, 255, 0.19) 99.98%);
  border: 1px solid #3D869B;
}

.header-border-growth.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 6px;
  background: linear-gradient(180deg, #FFFBF1 0%, rgba(255, 251, 241, 0.2) 100%);
  border: 1px solid #756333;
}

.header-border-recommended.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 6px;
  background: linear-gradient(180deg, #F2F9FF 0%, rgba(255, 251, 241, 0.2) 100%);
  border: 1px solid #0053A4;
}

.header-border-enterprise.ant-collapse-borderless>.ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 6px;
  background: linear-gradient(180deg, #FBF5FF 0%, rgba(251, 245, 255, 0.2) 100%);
  border: 1px solid #4A4186;
}

.parent-class.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  cursor: pointer;
  width: 164px;
  height: 36px;
  transition: all 0.3s, visibility 0s;
}

.mobile-card.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 14px 14px;
  width: 164px;
  height: 363px;
  border: 1px solid #3D869B;
  border-radius: 6px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.mobile-card-growth.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 14px 14px;
  width: 164px;
  height: 363px;
  border: 1px solid #756333;
  background: linear-gradient(180deg, #FFFBF1 0%, rgba(255, 251, 241, 0.2) 100%);
  border-radius: 6px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.mobile-card-recommended.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 14px 14px;
  width: 164px;
  height: 363px;
  border: 1px solid #0053A4;
  background: linear-gradient(180deg, #F2F9FF 0%, rgba(255, 251, 241, 0.2) 100%);
  border-radius: 6px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.mobile-card-enterprise.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 14px 14px;
  width: 164px;
  height: 363px;
  border: 1px solid #4A4186;
  background: linear-gradient(180deg, #FBF5FF 0%, rgba(251, 245, 255, 0.2) 100%);
  border-radius: 6px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.mobile-card-basic {
  width: 164px;
  height: 363px;
  background: linear-gradient(179.97deg, #F1FCFF 0.02%, rgba(241, 252, 255, 0.19) 99.98%);
  border-radius: 6px;
  border: 1px solid #D6F5FD;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 6px
}

.responsive-pricing .ant-collapse-header {
  border-radius: 6px;
  position: absolute !important;
  display: flex !important;
  margin: auto !important;
  right: 0 !important;
  left: 0 !important;
}

.ant-collapse-item-active .ant-collapse-header {
  border-bottom: none !important;
  border-radius: 6px 6px 0px 0px !important;
}

.card-header-text.ant-collapse-item-active .ant-collapse-header .ant-collapse-header-text {
  display: none !important;
}

.ant-collapse-item-active .ant-collapse-header .ant-collapse-expand-icon {
  position: absolute;
  right: 10px
}

.trapezoid {
  border-bottom: 39px solid #004181;
  border-left: 40px solid transparent;
  border-right: 39px solid transparent;
  width: 197px;
  height: 43px;
  position: relative;
  left: 125px;
  top: 32px;
  transform: rotate(45deg);
  margin-bottom: -43px;
}

@media (max-width:1439px) {
  .trapezoid {
    border-bottom: 39px solid #004181;
    border-left: 40px solid transparent;
    border-right: 39px solid transparent;
    width: 183px;
    height: 43px;
    position: relative;
    left: 78px;
    top: 27px;
    transform: rotate(45deg);
    margin-bottom: -43px;
  }
}

@media (max-width:1199px) {
  .trapezoid {
    border-bottom: 30px solid #004181;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 137px;
    height: 33px;
    position: relative;
    left: 60px;
    top: 20px;
    transform: rotate(45deg);
    // margin-bottom: -43px;
  }
}

@media (max-width:991px) {
  .trapezoid {
    border-bottom: 26px solid #004181;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    width: 125px;
    height: 33px;
    position: relative;
    left: 60px;
    top: 16px;
    transform: rotate(45deg);
    margin-bottom: -33px;
  }
}

.trapezoid-mobile-card {
  border-bottom: 26px solid #004181;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  width: 125px;
  height: 33px;
  position: relative;
  left: 53px;
  top: 2px;
  transform: rotate(45deg);
  margin-bottom: -33px;
}

.full-compare-startup {
  width: 63px;
  height: 22px;
  background: #F1FFF8;
  border-radius: 4px;
}

@media (max-width:1439px) {
  .full-compare-startup {
    width: 63px;
    height: 22px;
    background: #F1FFF8;
    border-radius: 4px;
  }
}

@media (max-width:1199px) {
  .full-compare-startup {
    width: 54px;
    height: 17px;
    background: #F1FFF8;
    border-radius: 4px;
  }
}

@media (max-width:768px) {
  .full-compare-startup {
    width: 54px;
    height: 17px;
    background: #F1FFF8;
    border-radius: 4px;
  }
}

.full-compare-growth {
  width: 63px;
  height: 22px;
  background: #FFFBF1;
  border-radius: 4px;
}

.full-compare-recommended {
  width: 110px;
  height: 22px;
  background: #EDF6FF;
  border-radius: 4px;
}

.full-compare-enterprise {
  width: 80px;
  height: 22px;
  background: #F5F4FF;
  border-radius: 4px;
}

.ant-drawer .ant-drawer-header-title {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  min-width: 0;
  min-height: 0;
}

.ant-drawer .ant-drawer-body {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px 18px 0px 18px;
  overflow: auto;
  background: #0053A5;
}

.ant-drawer .ant-drawer-header {
  display: flex;
  flex: 0;
  align-items: center;
  padding: 16px;
  background: #0053A5;
  border-bottom: 0px solid rgba(5, 5, 5, 0.06);
}

.ant-drawer .ant-drawer-close {
  display: inline-block;
  margin-inline-end: 2px;
  margin-top: 13px;
  color: #ffffff;
  font-weight: 600;
  width: 14px;
  height: 14px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-rendering: auto;
}

.switch-toggled {
  color: #0053A5;
  font-weight: 800;
}

.ant-drawer .ant-drawer-content {
  width: 100%;
  height: 600px;
  overflow: auto;
  background: #0053A5;
  pointer-events: auto;
  border-radius: 900%/0 0 100% 435%;
}

.ant-drawer .ant-drawer-content.show-more-height {
  height: 850px;
  /* Increase the height when showMore is true */
}


.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.banner-animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}


.header-fade {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes fade-down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-down {
  -webkit-animation-name: fade-down;
  animation-name: fade-down;
}

@media (max-width: 767px) {

  .animate,
  .header-fade,
  .fade-down {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    animation-fill-mode: none;
    -webkit-animation-fill-mode: none;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-name: none;
    animation-name: none;
  }
}

.banner-left-fade {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes fade-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 768px) {
  @keyframes fade-left {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-15px, 0, 0);
      transform: translate3d(-15px, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}

.fade-left {
  -webkit-animation-name: fade-left;
  animation-name: fade-left;
}

.banner-right-fade {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes fade-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (max-width: 768px) {
  @keyframes fade-right {
    from {
      opacity: 0;
      -webkit-transform: translate3d(15px, 0, 0);
      transform: translate3d(15px, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}

.fade-right {
  -webkit-animation-name: fade-right;
  animation-name: fade-right;
}

.reveal {
  position: relative;
  transform: translateX(-25px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width:991px) {

  .reveal {
    position: relative;
    transform: translateX(-15px);
    opacity: 0;
    transition: 0.5s all ease;
  }
}

@media (max-width:768px) {

  .reveal {
    position: relative;
    transform: translateX(-10px);
    opacity: 0;
    transition: 0.5s all ease;
  }
}

.reveal-right {
  position: relative;
  transform: translateX(25px);
  opacity: 0;
  transition: 1s all ease;
}

@media (max-width:991px) {

  .reveal-right {
    position: relative;
    transform: translateX(15px);
    opacity: 0;
    transition: 1s all ease;
  }
}

@media (max-width:768px) {

  .reveal-right {
    position: relative;
    transform: translateX(15px);
    opacity: 0;
    transition: 1s all ease;
  }
}

.reveal-right.actives {
  transform: translateY(0);
  opacity: 1;
}

.reveal-scroll {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal-scroll.acti {
  transform: translateY(0);
  opacity: 1;
}


//scroll sequence
.section {
  &__img {

    &__inner {
      position: fixed;
      top: 150px;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &__body {
  }
}


.section__img__inner {
  filter: blur(30px);
  opacity: 0;
  transition: filter .3s ease, opacity 0s ease, background-position 0.3s ease;
}

.section.active .section__img__inner {
  opacity: 1;
  z-index: 1;
  filter: blur(0);
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  padding: 4px;
  width: 934px;
  height: 396px;
  position: absolute;
  right: -400px;
  top: 16px;
  z-index: -1;
  list-style-type: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 0 0 12px 12px;
  outline: none;
  display: grid;
  justify-content: center;
  align-content: center;
  box-shadow: rgba(255, 255, 255, 1);
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item:hover,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-active,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-active,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title-active {
  background-color: #ffffff
}


.ant-dropdown-menu-title-content {
  background: #fff;
  border-radius: 9px;
  border: 1px solid #fff;
  width: 413px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:992px) {
  .ant-dropdown-menu-title-content {
    background: #fff;
    border-radius: 9px;
    border: 1px solid #fff;
    width: 236px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1236px) {

  .ant-dropdown .ant-dropdown-menu,
  .ant-dropdown-menu-submenu .ant-dropdown-menu {
    padding: 4px;
    width: 900px;
    height: 380px;
    position: absolute;
    right: -358px;
    top: 16px;
    z-index: -1;
    list-style-type: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 0 0 12px 12px;
    outline: none;
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(255, 255, 255, 1);
  }
}

@media (max-width:992px) {

  .ant-dropdown .ant-dropdown-menu,
  .ant-dropdown-menu-submenu .ant-dropdown-menu {
    padding: 4px;
    width: 548px;
    height: 314px;
    position: absolute;
    right: -247px;
    top: 16px;
    z-index: -1;
    list-style-type: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 0 0 12px 12px;
    outline: none;
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(255, 255, 255, 1);
  }
}

.ant-dropdown-menu-title-content:hover {
  background: #EDF6FF;
  border-radius: 9px;
  border: 1px solid #9ACDFE;
  width: 413px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:992px) {

  .ant-dropdown-menu-title-content:hover {
    background: #EDF6FF;
    border-radius: 9px;
    border: 1px solid #9ACDFE;
    width: 243px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.go-to-home-btn {
  border: 1px solid #0053A5;
  border-radius: 6px;
  background: #fff;
}



.custom-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  visibility: hidden;
  overflow-y: hidden;
  opacity: 0;
}

.custom-section.scroll {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.custom-section.scroll .left-div {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 0.8s;
}

.custom-section.scroll .right-div {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 0.8s;
}


.left-div {
  transform: translateX(-120%);
  overflow-x: hidden;

}

.right-div {
  transform: translate(120%);
  overflow-x: hidden;
}

.custom-section.scroll .left-div-2 {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 0.8s;
}
.left-div-2 {
  transform: translateX(-120%);
  overflow-x: hidden;
}
.custom-section.scroll .left-div-3 {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 0.8s;
}
.left-div-3 {
  transform: translateX(-120%);
  overflow-x: hidden;
}
.custom-section.scroll .left-div-4 {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 0.8s;
}
.left-div-4 {
  transform: translateX(-120%);
  overflow-x: hidden;
}



/** fadeInLeft **/
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 2.5s;
}
//end of 1

//fade-line-2
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.in-left-two {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 3.5s;
}
//end

//fade-line-3
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.in-left-three {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 3.9s;
}
//end

//fade-line-3
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.in-left-four {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 4s;
}
//end

@keyframes scrollFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the animation to the elements that should scroll from left to right */
.scroll-from-left {
  animation: scrollFromLeft 1s ease;
}
.ant-carousel .slick-dots li {
  position: relative;
  display: none;
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 16px;
  height: 3px;
  margin-inline: 4px;
  padding: 0;
  text-align: center;
  text-indent: -999px;
  vertical-align: top;
  transition: all 0.5s;
}

.ant-collapse.ant-collapse-icon-position-end>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  margin-top: 14px;
}

.scroll-down {
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;

  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}

.price-card.ant-collapse.ant-collapse-icon-position-end>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  margin-top: 0px;
}

.scroll-bar-hide {
  overflow: hidden;
}

.ant-switch-checked .ant-switch-handle::before {
  background-color: #0053A5 !important;
  height: 38px;
  width: 38px;
  top: 2px;
  border-radius: 100px;
}

.fixed-text-features {
  position: sticky;
  top: 78px;
  height: 90px;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .fixed-text-features {
    position: sticky;
    top: 0px;
    height: 90px;
    background-color: #ffffff;
    /* Add any other styling you want for the first header */
  }
}

.fixed-text-solution {
  position: sticky;
  top: 78px;
  height: 90px;
  background-color: #ffffff;
  z-index: 2;
}

.left-div-elements {
  transform: translateX(-120%);
  overflow-x: hidden;
}
.custom-section.scroll .left-div-elements {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 2.5s;
}

.right-div-elements {
  transform: translateX(120%);
  overflow-x: hidden;
}
.custom-section.scroll .right-div-elements {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: 2.5s;
}

.right-div-zoom {
  transform: scale(0);
  opacity: 0;
  overflow-x: hidden;
  transition: transform 2.5s;
}

.custom-section.scroll .right-div-zoom {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  transform: scale(1); /* Set the normal scale value */
}

.left-div-zoom {
  transform: scale(0);
  opacity: 0;
  overflow-x: hidden;
  transition: transform 5s;
}

.custom-section.scroll .left-div-zoom {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  transform: scale(1); /* Set the normal scale value */
}